[Desktop Entry]
Version=1.0
Type=Application
Name=Solidworks Web
Comment=Open the Solidworks portal in Chromium
Exec=chromium --new-window https://my.3dexperience.3ds.com/cnb/my-account/subscriptions
Icon=webapp-solidworks
Terminal=false
Categories=Graphics;Engineering;
StartupNotify=true
StartupWMClass=chromium-browser
