$surface-subtext: #6e7681;
$surface-base: #0d1117;
$action-text: #d2a8ff;
$window-border: #ffffff;
$binding-text: #56d364;

* {
  all: unset;
}

.layout-box {
  font-family: "Commit Mono";
  font-size: 1em;
  background-repeat: no-repeat;
  background-size: auto;
  color: rgba($surface-subtext, 1);
  background-color: rgba($surface-base, 1);
  border: 2px solid rgba($window-border, 0.8);
  border-radius: 5px;
}

.layout-key {
  color: rgba($binding-text, 1);
}

.layout-submap {
  color: rgba($window-border, 1);
}

.layout-desc {
  font-size: 1em;
  color: rgba($action-text, 1);
}
